#content {
    padding-top: 150px;
    text-align: center;
    h1 {
        text-align: center;
    }
    p {
        color: #c17f0a;
    }
    img {
        width: 1000px;
        height: 764px;
    }
    #slika2 {
        border: 4px solid white;
    }
}