<aside class="image-bg-fixed-height"></aside>
<!-- <img class="img-responsive img-center" src="assets\images\logo.jpg" alt=""> -->

<div id="content">
    <h1 style=" color: #c17f0a;">About us</h1> <br> <br>
    <article>

        <p>SPORTSWEAR is a unique shop with limited collection of shoes, unique in the Balkan region. By opening SPORTSWEAR shop Belgrade <br>became the regional capital of the sneaker culture.
        </p>
        <br>




    </article>
    <img class="img-responsive img-center" src="assets\images\shop.jpg" alt=""><br><br>
    <article>
        <br>
        <p style=" color: #c17f0a;">
            To make shopping an unforgettable experience, the main dealer or sneaker guru is concerned - the excellent connoisseur of the sneakers, <br>who, with espresso or cold beer, present the history of each sneakers to the lovers, and helps to choose
            just that right. Nike, Jordan, Adidas, <br>New Balance, Converse, Asics, Saucony have limited range of branded shoes.
        </p>
        <br>


    </article>
    <img id="slika2" class="img-responsive img-center" src="assets\images\shop2.jpg" alt=""><br><br>

</div><br><br>