<div class="main">
    <div class="top">
        <img src="assets/images/pocetna.jpg" alt="">
        <div class="centered">PRODUCTS</div>
    </div>


    <div class="screen">
        <div class="row">
            <div class="col-md-12" id="col">
                <div class="btn-group" dropdown id="gender">
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown">
          Gender
          <span class="caret"></span>
        </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem">
                            <a class="dropdown-item">Male</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">Female</a>
                        </li>


                    </ul>
                </div>
                <div class="btn-group" dropdown id="brand">
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown">
          Brand
          <span class="caret"></span>
        </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem">
                            <a class="dropdown-item">Adidas (3)</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">Nike (3)</a>
                        </li>
                        <li role="menuitem">
                            <a class="dropdown-item">New Balance (3)</a>
                        </li>


                    </ul>
                </div>

            </div>
        </div>

        <div class="container ">
            <div class="row text-center">
                <div class="col-4 shoe" *ngFor=" let proizvod of products">

                    <ng-container *ngIf="proizvod.katID== id">






                        <img class="img-thumbnail" src="{{proizvod.url}}" alt="Patike">
                        <br>

                        <h4 *ngIf="proizvod.brand_id == 1">
                            Nike {{proizvod.ime}}
                        </h4>

                        <h4 *ngIf="proizvod.brand_id == 2">
                            Adidas {{proizvod.ime}}
                        </h4>
                        <h4 *ngIf="proizvod.brand_id == 3">
                            New Balance {{proizvod.ime}}
                        </h4>
                        <hr>
                        <div class="row">
                            <div class="col-6 text-left">
                                <p class="text-justify ">
                                    {{proizvod.cena}} Euro
                                </p>
                            </div>
                            <ng-container>
                                <div class="col-6 text-right ">
                                    <button class="btn btn-outline-danger" (click)="viewProduct(proizvod.id)">View Product</button>
                                </div>
                            </ng-container>





                        </div>

                    </ng-container>
                </div>

            </div>
        </div>

    </div>
</div>