.main {
  height: 1975px; }
  .main .top {
    position: relative;
    text-align: center;
    height: 300px; }
    .main .top img {
      width: 100%;
      height: 300px; }
    .main .top .centered {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: #c17f0a;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .main .screen .row {
    height: 170px; }
    .main .screen .row #col {
      margin-top: 40px;
      text-align: center;
      display: inline-block; }
      .main .screen .row #col #gender {
        margin-top: 30px;
        padding-left: 10px;
        margin-right: 30px;
        display: inline-block; }
        .main .screen .row #col #gender .btn {
          background-color: transparent;
          border-color: #c17f0a;
          color: #c17f0a; }
        .main .screen .row #col #gender .btn:hover {
          background-color: #c17f0a;
          color: black; }
        .main .screen .row #col #gender #dropdown-basic {
          background-color: #c17f0a;
          margin-left: 10px;
          margin-right: 30px; }
      .main .screen .row #col #brand {
        margin-top: 30px;
        padding-left: 10px;
        display: inline-block; }
        .main .screen .row #col #brand .btn {
          background-color: transparent;
          border-color: #c17f0a;
          color: #c17f0a; }
        .main .screen .row #col #brand .btn:hover {
          background-color: #c17f0a;
          color: black; }
        .main .screen .row #col #brand #dropdown-basic {
          background-color: #c17f0a;
          margin-left: 10px;
          width: 10px; }
  .main .screen .screen-items {
    height: 500px;
    margin-top: 50px; }
    .main .screen .screen-items .col-md-9 {
      margin-left: 280px;
      height: 830px; }
      .main .screen .screen-items .col-md-9 .col-md-4 {
        height: 500px;
        display: inline-block; }
        .main .screen .screen-items .col-md-9 .col-md-4 .item-img img {
          border-radius: 100%;
          height: 300px;
          width: 320px;
          box-shadow: 10px 10px 10px 5px black; }
        .main .screen .screen-items .col-md-9 .col-md-4 .item-info {
          color: #c17f0a;
          margin-left: 30px;
          padding-top: 15px; }
        .main .screen .screen-items .col-md-9 .col-md-4 hr {
          border: 1px solid #c17f0a;
          width: 30%;
          margin-left: 30px; }
        .main .screen .screen-items .col-md-9 .col-md-4 a:hover {
          text-decoration: none; }
        .main .screen .screen-items .col-md-9 .col-md-4 h5 {
          color: #c17f0a;
          margin-left: 30px; }
    .main .screen .screen-items #ii3 {
      color: black;
      margin-left: 30px;
      padding-top: 15px; }
    .main .screen .screen-items #hr3 {
      border: 1px solid black;
      width: 30%;
      margin-left: 30px; }
    .main .screen .screen-items #h5_3 {
      color: black;
      margin-left: 30px; }
  .main .container {
    text-align: center; }
    .main .container .text-center {
      padding-top: 50px; }
      .main .container .text-center .shoe {
        padding-right: 60px; }
        .main .container .text-center .shoe hr {
          border-color: #c17f0a; }
        .main .container .text-center .shoe img {
          border-radius: 100%;
          height: 250px; }
        .main .container .text-center .shoe h4 {
          color: #c17f0a;
          text-align: left;
          margin-top: 3px; }
        .main .container .text-center .shoe p {
          color: #c17f0a;
          font-size: 25px; }
      .main .container .text-center .row button {
        border-color: #c17f0a;
        color: #c17f0a;
        background-color: transparent; }
      .main .container .text-center .row button:hover {
        background-color: #c17f0a;
        color: black; }

/*# sourceMappingURL=proizvodi.component.css.map */
