<div class="main">
    <!-- <img src="assets/images/pocetna.jpg" alt=""> -->
    <app-carousel></app-carousel>


    <h1>Latest edition on sale</h1>


    <div class="slika1">
        <a href=""><img src="assets/images/adiddas_uB.jpg" alt=""></a>
        <div class="info1">
            <a href="">
                <h4>ADIDAS Ultra Boost 3.0</h4>
            </a>
            <hr>
        </div>
    </div>


    <div class="slika2">
        <a href=""><img src="assets/images/nike_hoodie.jpg" alt=""></a>
        <div class="info2">
            <a href="">
                <h4>NIKE Hoodie Metallic-logo</h4>
            </a>
            <hr>
        </div>
    </div>


    <div class="slika3">
        <a href=""><img src="assets/images/lebron.jpg" alt=""></a>
        <div class="info3">
            <a href="">
                <h4>NIKE Lebron James limited</h4>
            </a>

            <hr>
        </div>
    </div>


    <div class="model">
        <a href=""><img src="assets/images/model.jpg" alt="" class="prva"></a>
        <a href=""><img src="assets/images/model1.jpg" alt="" class="druga"></a>

    </div>
    <div class="model-info">
        <h3>Non anim nulla mollit<br/>id et reprehenderit veniam<br/> sunt cillum sit.</h3>
        <button type="button" class="btn btn-secondary btn-lg ">BUY</button>
    </div>

    <!-- <div class="sale">
        <h1>On Sale </h1>
        <div class="sale-item">
            <a href=""><img src="assets/images/model1.jpg" alt="" id="sale1"></a>
            <a href=""><img src="assets/images/model1.jpg" alt="" id="sale2"></a>
            <a href=""><img src="assets/images/model1.jpg" alt="" id="sale3"></a>
        </div>
    </div> -->
    <div class="sale">
        <a href=""><img src="assets/images/sale.jpg" alt="" id="sale1"></a>
    </div>



</div>