section {
    padding-top: 150px;
    height: 800px;
    h2 {
        color: white;
        padding-left: 400px;
        padding-bottom: 30px;
        img {
            height: 50px;
            width: 70px;
            padding-left: 20px;
        }
    }
    th {
        color: #c17f0a;
    }
    td {
        color: #c17f0a;
        img {
            border-radius: 50%;
        }
    }
    a {
        color: #c17f0a;
        padding-left: 10px;
    }
    .paymentWrap {
        display: inline-block;
        img {
            width: 300px;
        }
    }
    .row {
        padding-top: 15px;
    }
}